<?xml version="1.0" encoding="UTF-8"?>
<Settings>
    <Fps>30</Fps>
    <TileSize>64</TileSize>
    <TankSize>58</TankSize>
    <ProjectileSize>10</ProjectileSize>
    <PlayerBaseSize>64</PlayerBaseSize>
    <TankHealth>1</TankHealth>
    <PlayerBaseHealth>5</PlayerBaseHealth>
    <PlayerLives>5</PlayerLives>
    <EnemiesNum>2</EnemiesNum>
    <RespawnDelayMs>1000</RespawnDelayMs>
    <BaseKillsToWin>1</BaseKillsToWin>
    <TankSpeed>8</TankSpeed>
    <ProjectileSpeed>16</ProjectileSpeed>
    <ProjectileDamage>1</ProjectileDamage>
    <TurretCooldownMs>1000</TurretCooldownMs>
    <AiChanceToFire>0.03</AiChanceToFire>
</Settings>
