<?xml version="1.0" encoding="UTF-8"?>
<Settings>
    <Fps>30</Fps>
    <TileSize>64</TileSize>
    <TankSize>55</TankSize>
    <ProjectileSize>10</ProjectileSize>
    <PlayerBaseSize>64</PlayerBaseSize>
    <TankHealth>1</TankHealth>
    <WallHealth>1</WallHealth>
    <IronWallHealth>2</IronWallHealth>
    <PlayerBaseHealth>5</PlayerBaseHealth>
    <PlayerLives>5</PlayerLives>
    <EnemiesNum>2</EnemiesNum>
    <RespawnDelayMs>1000</RespawnDelayMs>
    <BaseKillsToWin>10</BaseKillsToWin>
    <TankSpeed>6</TankSpeed>
    <ProjectileSpeed>16</ProjectileSpeed>
    <ProjectileDamage>1</ProjectileDamage>
    <TurretCooldownMs>500</TurretCooldownMs>
    <AiChanceToFire>0.03</AiChanceToFire>
    <AiChanceToChangeDirection>0.01</AiChanceToChangeDirection>
    <ShieldRespawnTimeoutMs>1000</ShieldRespawnTimeoutMs>

    <ExplosionAnimation>
        <FrameNum>8</FrameNum>
        <FrameRate>6</FrameRate>
        <LoopsNum>1</LoopsNum>
        <DurationMs>400</DurationMs>
    </ExplosionAnimation>

    <RespawnAnimation>
        <FrameNum>9</FrameNum>
        <FrameRate>9</FrameRate>
        <LoopsNum>1</LoopsNum>
        <DurationMs>500</DurationMs>
    </RespawnAnimation>

    <ShieldAnimation>
        <FrameNum>5</FrameNum>
        <FrameRate>5</FrameRate>
        <LoopsNum>0</LoopsNum>
        <DurationMs>0</DurationMs>
    </ShieldAnimation>
</Settings>
